@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
    font-family: "Italiana", sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.image-one{
    background-image: url(https://tyra-parring.github.io/host-/image/monstera-leaf-coffee-laptop-pencil-diary-marble-textured-backdrop.jpg);
    background-size:cover;
}

.image-two{
    background-image: url(https://tyra-parring.github.io/host-/image/beautiful-tropical-leaves-white-background-poster-banner-postcard-template.jpg);
    background-size: cover;
}

.image-three{
    background-image: url(https://tyra-parring.github.io/host-/image/tropical-monstera-leaf-border-frame-leaf-banner-background.jpg);
    background-size: cover;
}

.image-four{
    background-image: url(https://tyra-parring.github.io/host-/image/top-view-monstera-other-leaves-with-copy-space.jpg);
    background-size: cover;
}

.image-five{
    background-image: url(https://tyra-parring.github.io/host-/image/top-view-beautiful-plant-leaves-with-copy-space.jpg);
    background-size: cover;
    background-position: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: fit-content;
    height: 100vh;
    }

.image-six{
    background-image: url(https://tyra-parring.github.io/host-/image/flat-lay-monstera-other-leaves.jpg);
    background-size: cover;
}

.image-seven{
    background-image: url(https://tyra-parring.github.io/host-/image/arrangement-green-plant-with-copy-space.jpg);
    background-size: cover;
}

.d-flex a:hover{
    text-decoration: underline;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    margin: 10px;
}

footer{
    background-color: rgb(35, 35, 35);
    color: white;
}

.footer-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-nav{
    display: flex;
    justify-content: center;
}

.footer-bottom span{
    color: white;
}

.footer-bottom span{
    color: white;
}

.footer-bottom{
    display: flex;
    justify-content: center;
}

.footer-bottom span{
    color: white;
}

.footer-bottom span{
    color: white;
}

.testim{
    font-weight: 200;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 2em;
    padding-top: 70px;
    text-align: center;
}

.footer-bottom span{
    color: white;
}

/* .row{
    margin: 20%;
    padding-top: 20%;
} */
  
.edu p{
    color: black;
}

.col{
    padding-top: 80px;
    padding-bottom: 30px;
}

p{
    color: black;
    font-weight: 599;
    padding-top: 5px;
    font-size: large;
}

.one{
    font-weight: 599;
}

.form-control{
    font-weight: 400;
}

.group{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.edu h1{
    color: black;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.resu{
    display: flex;
}

.col{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 100;
}

.work{
    color: black;
}

.work p{
    color: black;
}

.head{
    color: black;
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
}

.txt{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 100;
    padding-bottom: 20px;
}

.skills{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.homeImage{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}


#sectionLanding{
    height: 100vh;
}

  .openSentence p{
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 50px;
        padding-top: 30px;
  }

  .scndSentence{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 27px;
    padding-bottom: 30px;
  }

  .fade-in-text{
    font-family: italiana;
    animation: fadeIn 4s;
  }

  @keyframes animate{
    0% { 
        width: 0px;
      }
      100% {
        width: 100%;
      }
  }

.scndSentence span{
    color: rgb(255, 255, 255);
  }

.btn{
    display: flex;
    justify-content: center;
    padding-bottom: 2400px;
} 
/* .btns {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  } */
/* .btn{
    padding: 2px;
} */

.ctn{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: 599;
    font-size: 67px;
    padding-bottom: 100px;
}

.col{
    padding: 20px;
}

.head{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.container{
    /* padding-top: 200px; */
    /* padding-bottom: 110px; */
}

.prjs{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 90px;
    font-weight: 500;
}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
